@import url(//db.onlinewebfonts.com/c/01173b246d9d9ea808ea75a26b3b61bb?family=Circular+Spotify+Tx+T+Black);
@media (max-width:1920px){
* {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    background-color: #000;
    height: 109px;
    justify-content: flex-start;
    align-items: center;
}

.nav2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.nav-contents2 span {
    color: white;
    position: relative;
    left: 1000px;
    font-family: "Circular Spotify Tx T Black";
    font-size: 16px;
    padding-left: 20px;
    cursor: pointer;
}
.nav-contents2 span:hover {
    color: #169b45;
    position: relative;
    left: 1000px;
    font-family: "Circular Spotify Tx T Black";
    font-size: 16px;
    padding-left: 20px;
    cursor: pointer;
}

.nav-contents img {
    position: relative;
    left: 64px;
}
.container{
    display: flex;
    height: 827px;
    background: #171111;
    
}

.container .content2{
    width: 497px;
        height: 584px;
        background: white;
        position: relative;
        left: 794px;
        top: -418px;
        font-family: "Circular Spotify Tx T Black";
}


.content1{
    /* height: 728px;
    width: 524px;
    background-image: url('img/phone.png');
    background-repeat: no-repeat;
    background-size: contain; */
}

.content2 .p1{
    position: relative;
left: 50px;
top: 47px;
}
.b1 input{
    position: relative;
        top: 40px;
        left: 46px;
        width: 338px;
        border-radius: 5px;
        height: 53px;
        padding-left: 15px;
}
.content2 .p2{
    position: relative;
        top: 59px;
        left: 53px;

}

.b2 input{
    position: relative;
        top: 43px;
        left: 46px;
        width: 338px;
        border-radius: 5px;
        height: 53px;
        padding-left: 15px;
}
.b3 input{
    position: relative;
        top: 51px;
        left: 46px;
        width: 338px;
        border-radius: 5px;
        height: 53px;
        padding-left: 15px;
}
.content2 .p3{
    position: relative;
        top: 66px;
        left: 53px;

}
.content2 .p4{
    position: relative;
        top: 54px;
        left: 66px;
        font-size: 11px;
}
.sp1{
    position: relative;
    left: 11px;
}
.sp2{
    position: relative;
        left: 65px;
}
.b4 input{
    position: relative;
        top: 79px;
        width: 355px;
        height: 69px;
        border-radius: 40px;
        left: 83px;
        background-color: #26D769;
        border-color: white;
        font-family: "Circular Spotify Tx T Black";
        cursor: pointer;
        font-size: large;
}
.p5{
    position: relative;
        top: 90px;
        
        left: 159px;
}
.f-contents {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 411px;
    background: #000;
}
.content1 img{
    position: relative;
    top: 168px;
}
.f1{
    
}
.f2{
    width: 165px;
        height: 244px;
    
}
.f3{
    width: 165px;
        height: 244px;
       
}
.company{
    color: #ACACAC;
    font-size: large;
    font-family: "Circular Spotify Tx T Black";
    cursor: pointer;
}
.usefulLinks{
    color: #ACACAC;
        font-size: large;
        cursor: pointer;
        font-family: "Circular Spotify Tx T Black";
}
.stuff{
    position: relative;
        top: 15px;
        color: white;
        font-size: large;
        cursor: pointer;
        font-family: "Circular Spotify Tx T Black";
}
.f1 img{
    position: relative;
        left: -120px;
        bottom: 88px;
}
}
@media (max-width:773px) and (min-width:360px) {
    .nav{
        height: 86px;
    }
    .nav-contents img{
        position: relative;
        width: 104px;
        height: 37px;
        left: 20px;
    }
    .content1{
        position: relative;
            top: 55px;
    }
    .content1 img{
        position: relative;
        width: 360px;
        height: 287px;
        right: 7px;
        top: 12px;
        bottom: 170px;
    }
    .b4 {
        position: relative;
            right: 877px;
            top: 45px;
    }
    .container {
        height: 571px;
    }
    .f1 img{
        position: relative;
        width: 104px;
        height: 37px;
        left: 20px;
        bottom: 156px;
    }
    .f2{
        position: relative;
        left: -69px;
    }
    .stuff{
        position: relative;
        top: -4px;
        font-size: small;
    }
    .f3{
        position: relative;
            top: 177px;
            right: 198px;
    }
    .f-contents{
        height: 595px;
    }
}
@media (max-width:1348px) and (min-width:774px){
    .f1 img{
        position: relative;
        left: -42px;
    }
    .content1 img{
        position: relative;
            top: 70px;
            width: 732px;
            height: 512px;
    }
    .container .content2{
        position: relative;
        left: 166px;
        top: 80px;
    }
    .container{
        height: 1217px;
    }
}